{% for product in products %}
<div class="card border-primary mb-3" style="max-width: 15rem;">
    <div class="card-header h5" style="color:rgb(83, 91, 31);">{{ product.name|title }}</div>
    <div class="card-body text-primary">
        <p style="color:blueviolet; font-weight: bold;">From {{ product.stores.name|title }}</p>
        <h5 class="card-title" style="font-size: 1rem;">
        <a href="{% url 'product_details' product.slug %}" style="font-size: smaller;">Go to Details</a>
        </h5>
        {% if not user.profile.is_store_owner %}
        <form action="{% url 'add_product_user' product.id  %}">
            <input type="submit" style="font-size: smaller;" value="Add To Favorites" />
        </form>
        <form action="{% url 'remove_product_user' product.id  %}">
            <input type="submit" style="font-size: smaller;" value="Remove From Favorites" />
        </form>
        {% endif %}
        {% if user.profile.owned_store_name|slugify == product.stores.slug %}
            <form action="{% url 'remove_product' user.profile.owned_store_name|slugify product|slugify %}" method="POST">
                {% csrf_token %}
                <input type="submit" style="font-size: smaller;" value="Remove Product" />
            </form>
        {% endif %}
    </div>
</div>
{%endfor%}