{% for store in stores %}
<div class="card border-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">{{ store.name|title }}</div>
    <div class="card-body text-primary">
        <h5 class="card-title" style="font-size: 1rem;">
        <a href="{% url 'store_details' store.name|slugify %}" style="font-size: smaller;"> Go to Products </a>
        </h5>
        <p class="card-text mb-0" style="font-size: smaller;"> {{ store.description }} </p>
        {% if not user.profile.is_store_owner %}
        <form action="{% url 'add_store_user' store.id  %}">
            <input type="submit" style="font-size: smaller;" value="Add To Favorites" />
        </form>
        <form action="{% url 'remove_store_user' store.id  %}">
            <input type="submit" style="font-size: smaller;" value="Remove From Favorites" />
        </form>
        {% endif %}

    </div>
</div>
{%endfor%}