{% for store in stores %}
<div class="card border-primary mb-3" style="max-width: 18rem;">
    <div class="card-header h5" style="color:rgb(83, 91, 31);">{{ store.name|title }}</div>
    <div class="card-body text-primary">
        <h5 class="card-title" style="font-size: 1rem;">
            <a href="{% url 'store_details' store.name|slugify %}" style="font-size: smaller;"> Show the Products </a>
        </h5>
        <a href="{% url 'store_info_details' store.name|slugify %}" style="font-size: smaller;"> Store Details </a>
        {% if not user.profile.is_store_owner %}
        <form action="{% url 'add_store_user' store.id  %}">
            <input type="submit" style="font-size: smaller;" value="Add To Favorites" />
        </form>
        <form action="{% url 'remove_store_user' store.id  %}">
            <input type="submit" style="font-size: smaller;" value="Remove From Favorites" />
        </form>
        {% else %}
            {% if user.profile.owned_store_name == store.name %}
                <form action="{% url 'remove_store_owner' store.slug  %}" method="POST">
                   {% csrf_token %}
                    <input type="submit" style="font-size: smaller;" value="Remove your Store" />
                </form>
            {% endif %}
        {% endif %}
    </div>
</div>
{%endfor%}