{% extends 'base.html' %}
{% block title %} Product Details {% endblock %}

{% block content %}

<h1>Product: {{ product.name }} </h1>
<div class="card border-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">{{ product.name }}</div>
    <div class="card-body text-primary">
        <h5 class="card-title">
        <a href="{% url 'product_details' product.slug %}">{{ product.name }}</a>
        </h5>
        <p class="card-text">{{ product.price }} TL</p>
    </div>
</div>

{% endblock %}