{% extends 'base.html' %}
{% block title %} Login {% endblock %}

{% block content %}

<div class="container mt-3">
    <div class="col">
        <h1>Login</h1>
        <hr>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            {% if error %}
                <div class="alert alert-danger">{{error}}</div>
            {% endif %}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-label" name="username" placeholder="Enter your Username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-label" name="password" placeholder="Enter your Password">
            </div>
            <input type="submit" value="Login" class="btn btn-primary">
        </form>
    </div>
</div>

{% endblock %}